# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=python-transcoder-group
TRANSCODE_REQUESTS_TOPIC=transcode-requests
TRANSCODE_COMPLETION_TOPIC=transcode-completion

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_VIDEO_BUCKET=videos
MINIO_SECURE=false

# Transcoding
FFMPEG_PRESET=veryfast
FFMPEG_CRF=23
MAX_WORKERS=0
